
/* 
.main-content {
  text-align: center;
  margin-top: 140px;
  width: 70%;
} */

.welcome-box {
  border: none;
  border-radius: 10px;
  padding: 25px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 20px auto;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  left: 0;
  padding: 50px;
  padding-top: 180px;
  font-family: 'Arial', sans-serif;
}